// Connor S. Murray, PhD
// Started: 12.17.2025
// A nextflow pipeline for simulating PacBio HiFi reads and detecting HIV/SIV viral integrations

// Paramters for pipeline
params {
    help = false

    // Input genomes
    host_genome = "/home/c0murr09/human_genome/t2t/T2T-CHM13v2.0_renamed.fa.gz"
    viral_genome = "/home/c0murr09/viral_genome/GCA_003190765.1_ASM319076v1_genomic.fna"
    viral_genomes = "/home/c0murr09/viral_genome/hiv_genome_panal/*fasta"
    gtf = "/home/c0murr09/human_genome/t2t/chm13v2.0_RefSeq_Liftoff_v5.2.gtf"
    
    // Patient samples (set to skip simulation)
    patient_dir = "/home/kyinbre/SmithLab/SMRTcap/Ghazal/SL130_CNS_Project/Lastupdate_oct2025/Paitent/P7/bc1002"
    patient_bam = null
    patient_fastq = null

    // Competetive mapping
    max_iterations = 5
    trim_begin = 0
    trim_end = 0
    
    // Quality filtering
    min_mapq = 30
    remove_secondary = true
    remove_supplementary = true

    // Integration parameters (If running simulation)
    n_integrations = 10
    target_chroms = null
    seed = null

    // Simulation (pbsim3) parameters
    depth = 30
    length_mean = 15000
    accuracy_mean = 0.99
    pbsim_model = "/opt/pbsim3/data/QSHMM-RSII.model" // This is within the apptainer image

    // Working Directory
    workDir = null

    // Output
    outdir = null

    // SLURM
    partition = 'bioinfo' // Specific to institution
    threads = 8
    memory = '4 GB'

    // Containers
    container = '/home/c0murr09/sif/viral_int3.sif'
    container_R = '/home/c0murr09/sif/viral_int_R3.sif'
}

// Define profiles for slurm execution environment
profiles {
    slurm {
        process {
            executor = 'slurm' // Use SLURM as the executor
            clusterOptions = "--partition=${params.partition} --oversubscribe" // SLURM partition, account
            cpus = "${params.threads}" // Number of threads per job
            memory = "${params.memory}" // Memory per job
            errorStrategy = 'ignore'
            queueSize = 20 // Specific to UofL limit - you should change this to higher limits on other HPCs
            submitRateLimit = '15 sec'  // Throttle job submission to avoid overwhelming scheduler
            pollInterval = '30 sec'  // Check job status every 30 seconds
        }

            // Process-specific resources
            withName: 'SIMULATE_READS|TRIM_READS|BAM_TO_FASTQ' {
                cpus = 16
                memory = '8 GB'
                time = '2h'
            }
            
            withName: 'INITIAL_VIRAL_MAPPING|ITERATIVE_VIRAL_MAPPING|MULTI_REFERENCE_MAPPING' {
                cpus = 16
                memory = '4 GB'
                time = '2h'
            }
            
            withName: 'MAP_FLANKS_TO_HOST|CONFIRM_HOST_ALIGNMENTS' {
                cpus = 8
                memory = '10 GB' // should be higher since we are mapping to host genome (T2T - 3 Gbps)
                time = '2h'
            }
            
            withName: 'GENERATE_INTEGRATIONS' {
                cpus = 4
                memory = '8 GB'
                time = '2h'
            }
            
            withName: 'COMBINE_RESULTS' {
                cpus = 2
                memory = '2 GB'
                time = '1h'
            }
    }
}

// Manifest
manifest {
    name = 'HIV-SMRTCap-Pipeline'
    author = 'Connor S. Murray, PhD'
    description = 'HIV integration detection pipeline using SMRTCap methodology with PacBio HiFi sequencing'
    version = '1.0.0'
    nextflowVersion = '>=23.04.0'
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
    overwrite = true
}

// Container parameters (keep at end of config - nf can be particular...)
singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /home/c0murr09/human_genome:/home/c0murr09/human_genome'
}
