// Connor Murray
// Started: 12.17.2025
// A nextflow pipeline for simulating HiFi reads and viral integrations

// Paramters for pipeline
params {
    help = false

    // Input genomes
    host_genome = "/work/c0murr09/human_genome/chr22_middle_5Mb.fa"
    viral_genome = "/work/c0murr09/viral_genome/GCA_003190765.1_ASM319076v1_genomic.fna"

    // Integration parameters
    n_integrations = 10
    target_chroms = null
    seed = null

    // pbsim3 parameters
    depth = 30
    length_mean = 15000
    accuracy_mean = 0.99
    pbsim_model = "/work/c0murr09/pbsim3/data/QSHMM-RSII.model"

    // Output
    outdir = './output'

    // SLURM
    partition = 'cpu384g'
    threads = 8
    memory = '30 GB'    
}

// Define profiles for slurm execution environment
profiles {
    slurm {
        process {
            executor = 'slurm' // Use SLURM as the executor
            clusterOptions = "--partition=${params.partition}" // SLURM partition, account
            cpus = "${params.threads}" // Number of threads per job
            memory = "${params.memory}" // Memory per job
            errorStrategy = 'finish'
        }
    }
}

// Container parameters (keep at end of config - nf can be particular...)
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.pullTimeout  = '20m'